*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-width : 280px;
    --main-height : 600px;
    --header-height:60px;
}
.container{
    width: 95%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}

.col-7{
    width: 58.33%;
}

header{
    position: fixed;
    height: var(--header-height);
    background-color: black;
    width: 100%;
}
.sidebar{
    width: var(--sidebar-width);
    height: var(--main-height);
    position: fixed;
    background-color: aqua;
    top: var(--header-height);
    transition: all 0.3s linear;
}

main{
    width: 100%;
    height: var(--main-height);
    margin-left: var(--sidebar-width);
    position: fixed;
    background-color: blueviolet;
    top: var(--header-height);
    transition: all 0.3s linear;
}

.d-flex{
    display: flex;
}
.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}
.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.navlink{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.navlink li a{
    text-decoration: none;
    color: white;
}

.btn{
    width: 75px;
    height: 40px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1{
    width: 75px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.text-white{

    color: white;
}
.active{
    width: 0;
}
.active~main{
    margin-left: 0;
}